:root {
  --black: #151515;
  --white: #FFF;
  --white800: rgba(255, 255, 255, .8);
  --blue:#5e32ff;
  --magenta: #ff00ff;

  --sans-book: 'Sohne Book', "Helvetica Neue", Arial, sans-serif;
  --sans-bold: 'Sohne Bold', "Helvetica Neue", Arial, sans-serif;
  --sans-wide: 'Sohne Breit', "Helvetica Neue", Arial, sans-serif;
  --sans-cond: 'Sohne Schmal', impact, sans-serif;

  --type-baseline: .75rem;

  --text-xs: .75rem;
  --text-sm: .875rem;
  --text-base: 1rem;
  --text-lg: 1.625rem;
  --text-xl: 2rem;
  --text-2xl: 2.75rem;
  --text-3xl: 3.5rem;
  --text-4xl: 4rem;
  --text-5xl: 4.25rem;

  --m-base: 1rem;

  -moz-tab-size: 4;
  tab-size: 4;

  font-size: 16px;
}