@use '_base/reset';
@use '_base/fonts';
@use '_base/variables';
@use '_base/mixins';

.page-enter-active, .page-leave-active {
  transition: all 1s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

body {
  background: var(--black);
  color: var(--white); 
}



